body{
	margin: 0;
	padding:0;
}
img {
  position: absolute;
  top: 20px;
  right: 80px;
  width: 150px;
  height: 175px;
  border-radius: 50%;
  box-shadow: 0 0 8px black;
 
}

hr{
	border:1px solid black;
}

h1 {
	font-size: 40px;
	padding-top:10px;
	
}

.border {
	background-color: #d3d3d3;
	padding-left:30px;
	padding-right:30px;
}

.index {
	padding-left:30px;
	padding-right:30px;
}

